<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Suite Dreams</title>

  <!------ CSS ------>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
  <!-- fontawesome CSS -->
  <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/brands.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/fontawesome.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/regular.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/solid.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/svg-with-js.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/v4-shims.min.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/v5-font-face.min.css}">

  <!-- Suite Dreams CSS -->
  <link rel="stylesheet" th:href="@{/css/suite-dreams/sh-colors.css}">
  <link rel="stylesheet" th:href="@{/css/suite-dreams/sh-buttons.css}">
  <link rel="stylesheet" th:href="@{/css/suite-dreams/sh-fonts.css}">
  <link rel="stylesheet" th:href="@{/css/suite-dreams/sh-style.css}">
  <link rel="stylesheet" th:href="@{/css/suite-dreams/sh-custom-style.css}">

  <!----- JSS ------>
  <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
  <!-- Fontawesome Js -->
  <script th:src="@{/js/fontawesome/all.min.js}"></script>
  <script th:src="@{/js/fontawesome/brands.min.js}"></script>
  <script th:src="@{/js/fontawesome/conflict-detection.min.js}"></script>
  <script th:src="@{/js/fontawesome/fontawesome.min.js}"></script>
  <script th:src="@{/js/fontawesome/regular.min.js}"></script>
  <script th:src="@{/js/fontawesome/solid.min.js}"></script>
  <script th:src="@{/js/fontawesome/v4-shims.min.js}"></script>
  <!-- Icon -->
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">


</head>
<body>
  <!-- Include header -->
  <header th:replace="~{fragments/header :: header}"></header>

  <!-- Main content -->
  <main>
    <div th:replace="~{fragments/booking-search-widget :: booking-search-widget}"></div>
    <!-- <div th:insert="fragments/rooms-list :: fgt-room-list"></div> -->

    <div class="main-content" th:replace="~{${fragmentPath} :: ${fragmentName}}"></div>
  </main>
  <!-- Include footer -->
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>