<div th:fragment="connexion-modal" id="loginModal" th:class="'modal ' + (${showModal} ? 'visible' : 'hidden')">
    <div class="modal-content">
        <button id="closeModal" class="close-button" type="button">&times;</button>
        <div class="tabs forms-tabs">
            <button class="btn-tab tab active" data-tab="customer">Login/Register</button>
            <button class="btn-tab tab" data-tab="employee">Employee/Admin</button>
        </div>

        <div id="customerTab" class="tab-content active">
            <div class="split-content">
                <div class="split-left">
                    <div class="form-title">Login</div>
                    <form method="post" action="/login">
                        <input type="hidden" name="tab" value="customer">
                        <div th:if="${loginError}" class="error-message">
                            <span th:text="${loginError}"></span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" placeholder="your@email.com">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password" placeholder="••••••••">
                        </div>
                        <button type="submit" class="btn btn-primary btn-l btn-connexion">Login</button>
                    </form>
                </div>
                <div class="split-right">
                    <div class="form-title">Register</div>
                    <form method="post" action="/register">
                        <div th:if="${registerError}" class="error-message">
                            <span th:text="${registerError}"></span>
                        </div>
                        <div class="form-group">
                            <label>Full Name</label>
                            <input name="registerName">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="registerEmail">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="registerPassword" type="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-l btn-connexion">Register</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="employeeTab" class="tab-content">
            <div class="split-content">
                <div class="split-left">
                    <div class="form-title">Employee Login</div>
                    <form method="post" action="/login">
                        <input type="hidden" name="tab" value="employee">
                        <div th:if="${loginError}" class="error-message">
                            <span th:text="${loginError}"></span>
                        </div>
                        <div class="form-group">
                            <label>Employee ID</label>
                            <input name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-l btn-connexion">Login</button>
                    </form>
                </div>
                <div class="split-right">
                    <div class="form-title">Admin Login</div>
                    <form method="post" action="/login">
                        <input type="hidden" name="tab" value="employee">
                        <div th:if="${loginError}" class="error-message">
                            <span th:text="${loginError}"></span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-l btn-connexion">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
