<div th:fragment="fgt-employee-list">
    <h2>Employee List</h2>
    <div class="sd-custom-table-wrapper">

        <table class="sd-custom-table">
            <thead>
                <tr>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Date of Birth</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employeeList}">
                    <td th:text="${employee.lastName}">LastName</td>
                    <td th:text="${employee.firstName}">FirstName</td>
                    <td th:text="${#dates.format(employee.dob, 'dd/MM/yyyy')}">01/01/2000</td>
                    <td th:text="${employee.role.roleName}">Role</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>