<main th:fragment="errors" style="background-color: var(--purple-900);">
    <div class="container vh-100 d-flex justify-content-center align-items-center">

        <div class="text-center p-4 border rounded shadow bg-white">
            <div >
                <img src="/images/error/error-v1.png" alt="error-background">
            </div>
            <!-- Fragment 403 -->
            <div th:if="${fragmentNumber == '403'}">
                <h1 class="mb-4 text-danger">Erreur 403 - Accès interdit</h1>
                <p>Vous n'avez pas les droits nécessaires pour accéder à cette ressource.</p>
            </div>
            <!-- Fragment 404 -->
            <div th:if="${fragmentNumber == '404'}">
                <h1 class="mb-4 text-danger">Erreur 404 - Page non trouvée</h1>
                <p>La page que vous avez demandée n'existe pas ou a été déplacée.</p>
            </div>
            <!-- Fragment 500 -->
            <div th:if="${fragmentNumber == '500'}">
                <h1 class="mb-4 text-danger">Erreur 500 - Erreur interne du serveur</h1>
                <p>Il semble y avoir un problème avec notre serveur. Essayez plus tard.</p>
            </div>
            <a class="btn btn-primary mt-3" th:href="@{/}">Retour à l'accueil</a>
        </div>
    </div>
</main>
