<div th:fragment="errors" style="background-color: var(--purple-900);">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center p-4 border rounded shadow bg-white">
            <div>
                <img src="/images/error/error-v1.png" alt="error-background">
            </div>

            <!-- Fragment 403 -->
            <div th:if="${fragmentNumber == '403'}">
                <h1 class="mb-4 text-danger">Error 403 - Forbidden</h1>
                <p>You do not have the necessary permissions to access this resource.</p>
            </div>

            <!-- Fragment 404 -->
            <div th:if="${fragmentNumber == '404'}">
                <h1 class="mb-4 text-danger">Error 404 - Page Not Found</h1>
                <p>The page you requested does not exist or has been moved.</p>
            </div>

            <!-- Fragment 500 -->
            <div th:if="${fragmentNumber == '500'}">
                <h1 class="mb-4 text-danger">Error 500 - Internal Server Error</h1>
                <p>There seems to be a problem with our server. Please try again later.</p>
            </div>

            <a class="btn btn-primary mt-3" th:href="@{/}">Back to homepage</a>
        </div>
    </div>
</div>
