<div th:fragment="fgt-header-user" id="header-user" class="header-bottom">
        <div class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- User Role -->
                <a class="navbar-brand" href="/dashboard">
                    <span class="header-bottom-bagde">Customer</span>
                </a>

                <div class="collapse navbar-collapse" id="navbarEmployee">
                    <ul class="navbar-nav me-auto">
                        <!-- Rooms -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-bed"></i> Our Rooms
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/view/rooms/1">
                                    <i class="fas fa-door-closed"></i>Standard Queen Room
                                </a></li>
                                <li><a class="dropdown-item" href="/view/rooms/2">
                                    <i class="fas fa-water"></i> Superior Sea View
                                </a></li>
                                <li><a class="dropdown-item" href="/view/rooms/3">
                                    <i class="fas fa-bed"></i> Basic Room
                                </a></li>
                                <li><a class="dropdown-item" href="/view/rooms/4">
                                    <i class="fas fa-users"></i> Family Rooms
                                </a></li>
                                <li><a class="dropdown-item"href="/view/rooms/5">
                                    <i class="fas fa-crown"></i> Deluxe King Room
                                </a></li>
                                <li><a class="dropdown-item" href="/view/rooms/6">
                                    <i class="fas fa-house"></i> Cozy City Room
                                </a></li>
                                <hr>
                                <li><a class="dropdown-item" href="/view/rooms/all">
                                    <i class="fas fa-hotel"></i></i> All Rooms
                                </a></li>
                            </ul>
                        </li>
                        <!-- Wellness & Business Services -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-briefcase-medical"></i>  Wellness & Business Services
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-spa"></i>Spa Services
                                </a></li>
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-handshake"></i> Meeting Room Booking
                                </a></li>
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-briefcase"></i> Business Packages
                                </a></li>
                            </ul>
                        </li>
                        <!-- Bookings -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-calendar-alt"></i> Bookings
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-calendar-plus"></i>Upcoming Bookings
                                </a></li>
                                <li><a class="dropdown-item" href="/view/booking/past-booking">
                                    <i class="fas fa-calendar-alt"></i>Past Stays
                                </a></li>
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-edit"></i>Modify a Booking
                                </a></li>
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-times-circle"></i>Cancel a Booking
                                </a></li>
                            </ul>
                        </li>
                        <!-- Loyalty Points -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-coins"></i> Loyalty Points
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/view/loyalty/total-points">
                                    <i class="fas fa-coins"></i>My Points Balance
                                </a></li>
                                <li><a class="dropdown-item" href="/">
                                    <i class="fas fa-gift"></i>How to Earn Points
                                </a></li>
                            </ul>
                        </li>
                        <!-- Dashboard -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                    </ul>
                    <!-- Feedback -->
                    <div class="d-flex align-items-center">
                        <!-- Messages -->
                        <div class="position-relative me-3">
                            <a href="/" class="nav-link">
                                <i class="fas fa-envelope fa-lg"></i>
                                <span class="pending-badge" th:text="${unreadMessages ?: '0'}">2</span>
                            </a>
                        </div>
                        <!-- Greeting -->
                        <div class="greeting-section me-3">
                            <span>Hello, </span>
                            <span th:text="${user.firstName}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
