<div th:fragment="fgt-rooms-list" id="our-rooms">
    <div class="page-title">
        <h1 class="h1-purple">Nos Chambres</h1>
        <p class="page-description">
            We are delighted to offer a range of <strong>comfortable</strong> and <strong>stylish</strong> rooms to suit every <strong>traveler</strong>.
            Whether you're here for business or leisure, you'll find the perfect space to relax and unwind.
            Check our <strong>available rooms</strong> below and <strong>book now </strong>to enjoy a <strong>welcoming stay</strong> with us!
        </p>
    </div>
    <div class="rooms-list">
        <div class="room-card" th:each="room, stat : ${rooms}">
            <!-- Image -->
            <div class="image-container">
                <img
                    th:each="i : ${#numbers.sequence(1, 3)}"
                    th:src="@{'/images/rooms/' + ${room.roomImage} + ${i} + '.jpg'}"
                    th:alt="${room.roomTitle + ' image ' + i}"
                    class="room-image"/>
            </div>
            <!-- Room title and description -->
            <div class="room-details">
                <div class="room-header">
                    <h2 class="room-name" th:text="${room.roomTitle}">Room Title</h2>
                    <div class="rating-container">
                        <span class="star">★</span>
                        <span class="rating-score">4.8</span>
                        <span class="review-count">(124 avis)</span>
                    </div>
                </div>
                <!-- room capacity and amenities -->
                <div class="room-description">
                    <p th:text="${room.roomDescription}"></p>
                </div>
                <div class="amenities">
                    <div>
                        <span class="badge">
                            👥 capacity:
                            <span th:text="${room.capacity}"></span>
                        </span>
                    </div>
                    <div>
                       <span th:each="amenity : ${room.amenitiesWords}"
                            class="badge"
                            th:text="${amenity}"></span>
                    </div>
                </div>
                <!-- price and booking button -->
                <div class="room-footer">
                    <div class="price price-section">
                        <span th:text="${room.price}"></span>
                        € per night
                    </div>
                    <div class="book-now-section">
                        <button class="book-btn">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
